@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600;800;900&display=swap');
@font-face {
  font-family: 'MYRIADPRO-REGULAR';
  src: local('MYRIADPRO-REGULAR'), url('./styles/fonts/MYRIADPRO-REGULAR.OTF'), format('otf');
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
